# Create a '.env.local' file in the project directory
# Use the example below and put your own API keys 

# Database Connection (from the Docker container)
DATABASE_URL="postgresql://admin:password123@localhost:5432/spms_db"

# Google Maps API
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="your_api_key_here"